.container-fluid
  .row-fluid
    .span2
      = form_tag offers_path, method: :get, remote: true do
        .form-group
          = label_tag 'uuid', 'UUID'
          = text_field_tag 'offer[uuid]', nil, placeholder: 'UUID', id: 'uuid', class: 'form-control'
        .form-group
          = label_tag 'pub0', 'Pub0'
          = text_field_tag 'offer[pub0]', nil, placeholder: 'UUID', id: 'pub0', class: 'form-control'
        .form-group
          = label_tag 'page', 'Page'
          = number_field_tag 'offer[page]', nil, class: 'page', min: 1
        = submit_tag 'Submit'
    .span10




